{
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:import/warnings"
  ],
  "ignorePatterns": [
    "dist/**"
  ],
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "operator-linebreak": [
          "error",
          "before"
        ],
        "quotes": ["error", "single"],
        "@typescript-eslint/semi": ["error", "never"],
        "semi": [
          "error",
          "never"
        ],
        "brace-style": "error"
      }
    }
  ]
}
