{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/warnings"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-exports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "prefer-const": "error",
    "brace-style": "error",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "semi": ["error", "never"],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ]
  },
  "ignorePatterns": [
    "dist/**"
  ],
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
