*-debug.log
*-error.log
.turbo
.nyc_output
dist
artifacts/*
!artifacts/.keep
package-lock.json
tmp
node_modules

# Stackmate specific
.stackmate
cdktf.out
stackmate.schema.json

# TypeScript incremental compilation cache
*.tsbuildinfo
*.map

# Jest
.jestcache

# Oclif specific
oclif.manifest.json

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
# !.yarn/cache

# and uncomment the following lines
.pnp.*
