*-debug.log
*-error.log
.turbo
.nyc_output
dist/*
!dist/.keep
artifacts/*
!artifacts/.keep
tmp
node_modules

# Terraform specific
cdktf.out
stackmate.out
stacks
.terraform
*terraform.log
*.tf.json
*.lock.hcl

# TypeScript incremental compilation cache
*.tsbuildinfo
*.map

# Jest
.jestcache

# if you are NOT using Zero-installs, then:
# comment the following lines
# !.yarn/cache

# and uncomment the following lines
.pnp.*
